alembic>=0.4.1
amqplib>=0.6.1
anyjson>=0.3.3
argparse
Babel>=1.3
boto>=2.4.0,!=2.13.0
cffi
cliff>=1.4.3
ddt>=0.4.0
dogpile.cache>=0.5.0
diskimage-builder
Django>=1.4,<1.6
django_compressor>=1.3
django_openstack_auth>=1.1.3
dnspython>=1.9.4
eventlet>=0.13.0
extras
falcon>=0.1.6,<0.1.7
Flask>=0.10,<1.0
greenlet>=0.3.2
happybase>=0.4
httplib2
iso8601>=0.1.4
Jinja2
jsonpatch>=1.1
jsonpath-rw>=1.2.0,<2.0
jsonrpclib
jsonschema>=1.3.0,!=1.4.0
kazoo>=0.9,<=1.1
lesscpy>=0.9j
kombu>=2.4.8
lockfile>=0.8
lxml>=2.3
msgpack-python
netaddr
netifaces>=0.5
oauth2
ordereddict
oslo.config>=1.2.0
os-apply-config
os-collect-config
os-refresh-config
pam>=0.1.4
paramiko>=1.8.0
passlib
Paste
PasteDeploy>=1.5.0
pbr>=0.5.21,<1.0
pecan>=0.2.0
pip>=1.4
PrettyTable>=0.6,<0.8
psutil>=0.6.1,<1.0
pyasn1
pycadf>=0.1.9
pycrypto>=2.6
pyghmi
pymongo>=2.4
pyOpenSSL
pyparsing>=2.0.1
pysnmp>=4.2.1,<5.0.0
pystache
# OpenStack clients. None of these should have an upper bound
# as that has implications for testing in the gate. An exception
# is currently being made for neutron client because of the need
# for an incompatible change in their next release.
python-cinderclient>=1.0.5
python-ceilometerclient>=1.0.5
python-heatclient>=0.2.3
python-glanceclient>=0.9.0
python-keystoneclient>=0.3.2
python-memcached
python-neutronclient>=2.3.0,<3
python-novaclient>=2.15.0
python-swiftclient>=1.5
python-troveclient>=1.0.1
pytz>=2010h
pyudev
PyYAML>=3.1.0
qpid-python
requests>=1.1
Routes>=1.12.3
simplejson>=2.0.9
six>=1.4.1
sockjs-tornado>=1.0.0,<2.0.0
# The SQLA requirement looks weird, but it's here for a reason.
# The version of pip shipped with distros treats 0.8beta1 (which is
# on pypi) as < 0.8 so the "clear" version of this requirement, is
# actually broken. The fix for this isn't until pip 1.4.1, which is
# way more current than what most distros have.
SQLAlchemy>=0.7.8,<=0.7.99
sqlalchemy-migrate>=0.7.2
stevedore>=0.10
suds>=0.4
tripleo-image-elements
warlock>=1.0.1,<2
WebOb>=1.2.3,<1.3
websockify>=0.5.1,<0.6
wheel
wsgiref>=0.1.2
WSME>=0.5b5
xattr>=0.4
# Testing tools below, which are typically in test-requires.txt

cliff-tablib>=1.0
configobj
coverage>=3.6
discover
django-nose
docutils==0.9.1
feedparser
fixtures>=0.3.14
flake8==2.0
hacking>=0.5.6,<0.8
hgtools # dependency of pytest-runner that is only in setup_requires
hp3parclient>=2.0,<3.0
httpretty>=0.6.3
keyring>=1.6.1,<2.0
mock>=1.0
mox>=0.5.3
mox3>=0.7.0
MySQL-python
nose
nose-exclude
nosehtmloutput>=0.0.3
nosexcover
openstack.nose_plugin>=0.7
pep8==1.4.5
psycopg2
pyflakes>=0.7.2,<0.7.4
pylint==0.25.2
pysendfile==2.0.0
pysqlite
python-ldap==2.3.13
python-subunit
pyzmq==2.2.0.1
redis
selenium
sphinx>=1.1.2
sphinxcontrib-httpdomain
sphinxcontrib-pecanwsme>=0.5
oslo.sphinx
swift
testrepository>=0.0.17
testresources>=0.2.4
testscenarios>=0.4
testtools>=0.9.32
unittest2
WebTest>=2.0
