alembic>=0.6.4,<=0.7.4
anyjson>=0.3.3,<=0.3.3
argparse
argcomplete>=0.6.8  # Apache-2.0
Babel>=1.3,<=1.3
boto>=2.32.1,<2.35.0
cffi
cliff>=1.7.0,<=1.9.0 # Apache-2.0
cmd2>=0.6.7,<=0.6.8
coinor.pulp>=1.0.4
croniter>=0.3.4,<=0.3.5 # MIT License
cryptography>=0.4 # Apache-2.0
ddt>=0.4.0
decorator>=3.4.0,<=3.4.0
dib-utils  # Apache-2.0
diskimage-builder>=0.1.20
Django>=1.4.2,<1.7
django-bootstrap-form
django_compressor>=1.4,<=1.4
django_openstack_auth>=1.1.7,!=1.1.8,<=1.1.9
dnspython>=1.9.4,<=1.12.0
dogpile.cache>=0.5.3,<=0.5.6
eventlet>=0.15.1,<=0.15.2
extras<=0.0.3
falcon>=0.1.6,<0.2.0
Flask>=0.10,<1.0
futures>=2.1.6,<=2.2.0
glance_store>=0.1.1,<=0.1.10 # Apache-2.0
greenio>=0.6.0
greenlet>=0.3.2,<=0.4.2
happybase>=0.5,!=0.7,<=0.9
httplib2>=0.7.5,<=0.9
iso8601>=0.1.9,<=0.1.10
Jinja2<=2.7.2
jsonpatch>=1.1,<=1.3
jsonpath-rw>=1.2.0,<2.0
jsonrpclib<=0.1.3
jsonschema>=2.0.0,<3.0.0
kazoo>=1.3.1,<=2.0
keystonemiddleware>=1.0.0,<1.4.0
pyScss>=1.2.1,<1.3  # MIT License
django-pyscss>=1.0.3,<=1.0.6 # BSD License (2 clause)
kombu>=2.5.0,<=3.0.7
libvirt-python>=1.2.5                   # LGPLv2+
lockfile>=0.8,<=0.8
lxml>=2.3,<=3.3.3
Mako>=0.4.0,<=1.0.1
msgpack-python>=0.4.0,<=0.4.5
netaddr>=0.7.12,<=0.7.13
netifaces>=0.10.4,<=0.10.4
networkx>=1.8,<=1.9.1
oauthlib>=0.6,<=0.7.2
ordereddict<=1.1
oslo.concurrency>=0.3.0  # Apache-2.0
oslo.config>=1.4.0,<=1.6.0 # Apache-2.0
oslo.context>=0.1.0,<=0.1.0 # Apache-2.0
# NOTE(dhellmann): oslo.db is capped because setuptools 8 changed the
# way it handles requirements lists (see
# 4bbac4c9bc5bcba6962921369ce7721d2a544aa4).  We need to cap at a
# version released from oslo.db's stable/juno branch to avoid
# introducing incompatible secondary dependencies into stable
# deployments.
oslo.db>=1.0.0,<1.1  # Apache-2.0
oslo.i18n>=1.0.0,<=1.3.1 # Apache-2.0
oslo.messaging>=1.4.0,<1.5.0
oslo.rootwrap>=1.3.0,<=1.5.0
oslo.serialization>=1.0.0,<=1.2.0 # Apache-2.0
oslo.utils>=1.0.0,<=1.2.1 # Apache-2.0
oslo.vmware>=0.6.0,<0.9.0               # Apache-2.0
osprofiler>=0.3.0,<=0.3.0 # Apache-2.0
os-apply-config
os-cloud-config
os-collect-config
os-refresh-config
paramiko>=1.13.0,<=1.15.2
passlib<=1.6.2
Paste<=1.7.5.1
PasteDeploy>=1.5.0,<=1.5.2
pbr>=0.6,!=0.7,<1.0
pecan>=0.5.0,<=0.8.3
pexpect>=3.1,<=3.3 # ISC License
Pillow==2.4.0 # MIT
Pint>=0.5  # BSD
pip>=1.4
pip_missing_reqs>=1.1.5
posix_ipc<=0.9.9
PrettyTable>=0.7,<0.8
psutil>=1.1.1,<2.0.0
pyasn1<=0.1.7
pyasn1_modules
pycadf>=0.6.0,<0.7.0  # Apache-2.0
pycrypto>=2.6,<=2.6.1
pyeclib>=0.9.2                          # BSD
pyghmi>=0.6.11
pymongo>=2.5
pyOpenSSL>=0.11,<=0.13
pyparsing>=2.0.1,<=2.0.3
pysnmp>=4.2.1,<5.0.0
pystache
pysaml2
# OpenStack clients. None of these should have an upper bound
# as that has implications for testing in the gate. An exception
# is currently being made for neutron client because of the need
# for an incompatible change in their next release.
python-barbicanclient>=2.1.0,!=3.0.0,<3.0.2
python-ceilometerclient>=1.0.6,<=1.0.12
python-cinderclient>=1.1.0,<=1.1.1
python-designateclient>=1.0.0,<=1.1.1
python-heatclient>=0.2.9,<0.3.0
python-glanceclient>=0.14.0,<=0.15.0
python-ironicclient>=0.2.1,<=0.3.3
python-keystoneclient>=0.10.0,<=1.1.0
python-marconiclient>=0.0.2
python-memcached>=1.48
python-neutronclient>=2.3.6,<3
python-novaclient>=2.18.0,<=2.20.0
python-openstackclient>=0.3.0,<=1.0.1
python-saharaclient>=0.7.3,<=0.7.6
python-swiftclient>=2.2.0,<=2.3.1
python-troveclient>=1.0.4,<=1.0.8
python-zaqarclient>=0.0.3
pytz<=2014.10
pyudev<=0.16.1
PyYAML>=3.1.0,<=3.10
qpid-python<=0.26.1
requests>=2.1.0,!=2.4.0,<=2.2.1
requests-kerberos>=0.5 # MIT
rfc3986>=0.2.0,<=0.2.0 # Apache-2.0
Routes>=1.12.3,!=2.0,<=2.1
rtslib-fb>=2.1.39,<=2.1.51
simplejson>=2.2.0,<=3.3.1
six>=1.7.0,<=1.9.0
sockjs-tornado>=1.0.0,<2.0.0
SQLAlchemy>=0.8.4,<=0.9.99,!=0.9.0,!=0.9.1,!=0.9.2,!=0.9.3,!=0.9.4,!=0.9.5,!=0.9.6
sqlalchemy-migrate==0.9.1
stevedore>=1.0.0,<=1.2.0 # Apache-2.0
suds==0.4
taskflow>=0.4,<0.7.0
tempest-lib
tooz>=0.3,<=0.12 # Apache-2.0
tripleo-image-elements
warlock>=1.0.1,<2
WebOb>=1.2.3,<=1.3.1
websockify>=0.6.0,<0.7
wheel
wsgiref>=0.1.2
WSME>=0.6,<=0.6.4
xattr>=0.4,<=0.6.4
XenAPI>=1.2
XStatic>=1.0.0  # MIT License
XStatic-angular>=1.2.1.1,<1.3.0  # MIT License
XStatic-angular-cookies>=1.2.1.1  # MIT License
XStatic-angular-mock>=1.2.1.1  # MIT License
XStatic-bootstrap-datepicker>=1.3.1.0  # Apache 2.0 License
XStatic-bootstrap-scss>=3  # Apache 2.0 License
XStatic-d3>=3.1.6.2  # BSD License (3 clause)
XStatic-font-awesome>=4.1.0  # SIL OFL 1.1 License, MIT License
XStatic-hogan>=2.0.0.2  # Apache 2.0 License
XStatic-jasmine>=1.3.1.1,<2  # MIT License
XStatic-jquery>=1.7.2  # MIT License
XStatic-jquery.bootstrap.wizard>=1.0.0.1  # MIT License
XStatic-jquery-migrate>=1.2.1.1  # MIT License
XStatic-jquery.quicksearch>=2.0.3.1  # MIT License
XStatic-jquery.tablesorter>=2.0.5b.0  # MIT License
XStatic-jquery-ui>=1.10.1  # MIT License
XStatic-jsencrypt>=2.0.0.2  # MIT License
XStatic-qunit>=1.14.0.2  # MIT License
XStatic-rickshaw>=1.5.0  # BSD License (prior)
XStatic-spin>=1.2.5.2  # MIT License

# Testing tools below, which are typically in test-requires.txt

bashate>=0.2 # Apache-2.0
cliff-tablib>=1.0,<=1.1
configobj<=4.7.2
coverage>=3.6,<=3.7.1
discover
django-nose
doc8  # Apache-2.0
feedparser<=5.1.3
fixtures>=0.3.14,<=1.0.0
flake8==2.2.3
hacking>=0.9.2,<0.10
hgtools # dependency of pytest-runner that is only in setup_requires
httpretty>=0.8.0,!=0.8.1,!=0.8.2,!=0.8.3
keyring>=2.1,!=3.3
ldappool>=1.0 # MPL
mock>=1.0
mox>=0.5.3,<=0.5.3
mox3>=0.7.0
MySQL-python<=1.2.3
nodeenv>=0.9.4 # BSD License
nose<=1.3.1
nose-exclude
nosehtmloutput>=0.0.3
nosexcover
openstack-doc-tools>=0.18.1
openstack.nose_plugin>=0.7
oslosphinx>=2.2.0,<2.5.0  # Apache-2.0
oslotest>=1.1.0,<1.4.0  # Apache-2.0
pep8==1.5.7
proboscis==1.2.5.3
psycopg2
pyflakes==0.8.1
pylint==0.25.2
pysendfile==2.0.0
pysqlite<=2.6.3
python-ldap==2.3.13
python-subunit>=0.0.18,<=1.0.0
pyzmq>=14.3.1 # LGPL+BSD
redis<=2.10.3
requests-mock>=0.4.0  # Apache-2.0
retrying>=1.2.2,!=1.3.0,<=1.3.3 # Apache-2.0
selenium
sphinx>=1.1.2,!=1.2.0,<1.3
sphinxcontrib-docbookrestapi
sphinxcontrib-httpdomain
sphinxcontrib-pecanwsme>=0.8
swift
testrepository>=0.0.18,<=0.0.20
testresources>=0.2.4
testscenarios>=0.4
testtools>=0.9.34,!=1.4.0,<=1.5.0
trollius>=1.0
unittest2<=0.8.0
wrapt>=1.7.0 # BSD License
WebTest>=2.0,<=2.0.18
wsgi_intercept>=0.6.1 # MIT License
xvfbwrapper>=0.1.3 #license: MIT
zake>=0.1,<=0.1.7 # Apache-2.0
