# NOTE: These are requirements for testing the requirements project only
#       See global-requirements for the actual requirements list
hacking>=0.10,<0.11
testrepository>=0.0.18
testscenarios>=0.4
testtools>=0.9.36
virtualenv
