# NOTE: These are requirements for testing the requirements project only
#       See global-requirements for the actual requirements list
hacking>=0.8.0,<0.9
testrepository>=0.0.17
testscenarios>=0.4
testtools>=0.9.32,<0.9.35
